.btn {
    display: inline-block;
    height: 48px;
    padding: 15px 28px;

    border-radius: 5px;
    background-color: var(--accent);
    color: var(--white);
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 500;

    transition: opacity 0.2s ease-in;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    position: relative;
    top: 1px;
}

.btn-outline {
    display: flex;
    column-gap: 10px;
    align-items: center;

    height: 48px;
    padding: 12px 20px;

    border-radius: 5px;
    border: 1px solid var(--blackpure);
    background-color: var(--white);
    color: var(--blackpure);

    transition: all 0.2s ease-in;
}

.btn-outline:hover {
    opacity: 0.8;
    transform: translateY(-1px);
}

.btn-outline:active {
    position: relative;
    top: 1px;
}